@* @page
@model controller_route.Views.Home.AboutModel *@
@{
    ViewData["Title"] = "Giới Thiệu";
}

<div class="container">
    <h1>Giới Thiệu</h1>
    <p>Tìm hiểu thêm về công ty chúng tôi</p>
    <p>Đây là ứng dụng ASP.NET Core MVC đơn giản để minh hoạ định tuyến và giao diện</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Quay về Trang Chủ</a>
</div>