@{
    // ViewData["Title"] = "Home Page";
    ViewData["Title"] = "Trang Chủ";
}

@* <div class="text-center"> *@
<div class="container">
    @* <h1 class="display-4">Welcome</h1> *@
    <h1> Chào Mừng Đến Với Trang Chủ</h1>
    <p>Đây là trang chính của ứng dụng ASP.NET Core MVC</p>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
    <a asp-controller="Home" asp-action="About" class="btn btn-primary">Đi đến giới thiệu</a>
    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary">Xem sản phẩm</a>
</div>